.navbar-container {
  padding: 0px;
}

.navbar-logo-image {
  width: 250px;
  height: 41px;
}

.navbar-select-container {
  margin-left:10px;
  font-size: 13px;
}

.navbar-select {
  width: 125px !important;
}

.navbar-logout-button {
  margin-inline: 10px;
}