.translate-form {
  .btn {
    width: max-content;
  }

  .form-inline {
    width: max-content;
    padding: 20px;
    border: 2px solid black; border-radius: 5px; margin-top: 20px;
  }

  #translatorPage {
    margin: 10px auto auto;
  }
}