.navbar-container {
  padding: 0px;
}

.navbar {
  padding: 0.5rem;
}

.navbar-logo-image {
  width: 250px;
  height: 41px;
}

.navbar-select-container {
  margin-left:10px;
  font-size: 13px;
}

.navbar-logout-button {
  margin-inline: 10px;
}

.nav-button-new-card {
  cursor: pointer;
  background-color: chocolate;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}