.nav-item > button.nav-link {

  border-bottom: 1px solid #dee2e6;
  background: #fff;
  color: #007bff;

  &.active {
    border-bottom: 1px solid #fff;
  }

  &:focus {
    outline: none;
  }
}

.tabs-wrapper {
  margin: 1em 0;
}