.product-left-column-toolbar {
  margin-top:15px;
  margin-bottom:15px
}

.product-left-column-selector-container {
  width: 200px;
}

.product-left-column-add-button {
  margin-left:10px
}

.product-left-column-search {
  float:right
}
