.product-right-column-table {
  font-size: 13px;
  line-height: 1em;

  th {
    padding: 0.75rem;
  }

  i {
    color: blue;
  }
}

.toggling-view-code-column {
  width: 60px;
}

.detail-view {
  display: none;

  &:hover {
    background-color: transparent !important;
  }

  &.-open {
    display: table-row;
  }
}

.product-right-column-plus-wrapper {
  width: 30px;
  text-align: center;
  vertical-align: middle !important;
}

.product-right-column-checkbox-wrapper {
  width: 36px;
  text-align: center;
  vertical-align: middle !important;
}

.info {
  width: 30px;
  text-align: center;
  vertical-align: middle !important;

  &.-green {
    background-color: #19aa19;
  }
}