.product-right-column-toolbar {
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-right-column-select {
  width: 250px !important;
}

.product-right-column-refresh-button {
  margin-left:10px;
}

.product-right-column-search {
  float:right;
}