.cat-product-group-list-toolbar-container {
  margin-left:10px;
  margin-bottom:15px;
  margin-top:15px
}

.cat-product-group-list-toolbar-select-container {
  width: 280px !important;
  margin-left:10px
}